<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <listener>
        <listener-class>
			nl.siegmann.ehcachetag.EHCacheTagServletContextListener
        </listener-class>
    </listener>
<!-- 
	<context-param>
		<param-name>ehcachetag.cacheKeyMetaFactoryClass</param-name>
		<param-value>nl.siegmann.ehcachetag.DefaultCacheKeyMetaFactory</param-value>
	</context-param>
-->	

	<context-param>
		<param-name>ehcachetag.cacheKeyMetaFactoryConfig</param-name>
		<param-value>
		nocache=nl.siegmann.ehcachetag.cachekeyfactories.NoCacheKeyFactory
		pparam=nl.siegmann.ehcachetag.cachekeyfactories.RequestParameterCacheKeyFactory?parameter=p
		</param-value>
	</context-param>
	
</web-app>
