<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<param-name>ehcachetag.cacheKeyMetaFactoryClass</param-name>
		<param-value>nl.siegmann.ehcachetag.DefaultCacheKeyMetaFactory</param-value>
	</context-param>

	<context-param>
		<param-name>ehcachetag.cacheKeyMetaFactoryConfig</param-name>
		<param-value>
		url=nl.siegmann.ehcachetag.UrlCacheKeyFactory
		nocache=nl.siegmann.ehcachetag.NoCacheKeyFactory
		username=nl.siegmann.ehcachetag.cachekeyfactories.RequestAttributeCacheKeyFactory?attribute=username
		</param-value>
	</context-param>
		
	
</web-app>
